body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button{
    margin: 16px 0;
    width:80px;
    height:40px;
}

#container {
    display: flex;
    flex-direction: column;
    width:600px;
    height: 600px; 

}

.squareContainer{
    display: flex;
    flex:1;
}

.square {
    display: flex;
    background-color: red;
    flex: 1;

}
